<ion-content fullscreen style="--padding: 25px 15px;">
  <div *ngIf="!isPlaying && !level" style="padding: 25px 15px;">
    <h2>Seleccione el nivel de dificultad</h2>
    <ion-button expand="block" (click)="selectLevel('fácil')">Fácil</ion-button>
    <ion-button expand="block" (click)="selectLevel('medio')">Medio</ion-button>
    <ion-button expand="block" (click)="selectLevel('difícil')">Difícil</ion-button>
  </div>

  <h2 *ngIf="isPlaying" style="text-align: center; width: 90%;">Tiempo: {{ timeElapsed }} segundos</h2>

  <div *ngIf="isPlaying" class="host">
    <div class="grid" 
        [ngClass]="{
          'six-cards': grid.length === 6,
          'ten-cards': grid.length === 10,
          'sixteen-cards': grid.length === 16
        }">
    <div *ngFor="let card of grid; let i = index" (click)="flipCard(i)">
      <img *ngIf="card.flipped || card.matched" [src]="card.image">
      <div *ngIf="!card.flipped && !card.matched" class="back"></div>
    </div>
    </div>
  </div>

  <div *ngIf="!isPlaying && level" style="padding: 25px 15px;">
    <h2 style="text-align: center;">Juego Completado en {{ timeElapsed }} segundos</h2>
    <ion-button expand="block" (click)="level = null" >Elegir nivel nuevamente</ion-button>
    <ion-button expand="block" (click)="openModal()">Ver mejores puntajes</ion-button>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="square-fab" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>



<div *ngIf="isModalOpen" class="modal">
  <div class="modal-content">
    <span class="close" (click)="isModalOpen = false" >&times;</span>

    <h3 style="color: rgb(52, 4, 46); font-family: 'Outfit'; font-size: 1.2rem;">Mejores 5 puntajes en el nivel {{level}}</h3>

    <ion-list *ngIf="!isLoadingScores" style="background-color: rgb(255, 255, 255);" >
      <div *ngFor="let score of highscores"
        style="
          background-color: #f7d3f1;
          margin: 5px 0;
          padding: 10px;
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          font-family: 'Outfit';">
        
        <div *ngIf="score?.time !== undefined" 
          style="font-size: 0.8rem; color: #333; margin-bottom: 5px;">
          Tiempo: {{ score.time }} segundos
        </div>

        <div *ngIf="score?.date" 
          style="font-size: 0.8rem; color: #333; margin-bottom: 5px;">
          Fecha: {{ score.date.toDate() | date }}
        </div>

        <div *ngIf="score?.user" 
          style="font-size: 0.8rem; color: #333;">
          Usuario: {{ score.user }}
        </div>
  
      </div>

    
    </ion-list>

  </div>
</div>


