/* Hacer que el fondo de la página sea negro */
.container {
  background-color: #52092f;
  margin: 0;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


h1 {
  color: white;
  font-family: "Ubuntu"; 

}

.animateSplash {
  margin-top: 20px;
  display: inline-block;   /* Necesario para la animación de transform */
  animation: rotation 2s linear infinite; /* 2s duración, linear y continua */
  animation-delay: 0.5s;
}

@keyframes rotation {
  from {
    transform: rotate(0deg); /* Inicia en 0 grados */
  }
  to {
    transform: rotate(360deg); /* Termina en 360 grados (una vuelta completa) */
  }
}