<ion-content class="fullscreen">

  <div class="login-content">

    <div class="moving-line line1"></div>
    <div class="moving-line line2"></div>
    <div class="moving-line line3"></div>
    <div class="moving-line line4"></div>
    <div class="moving-line line5"></div>
    <div class="moving-line line6"></div>
    <div class="moving-line line7"></div>

    <div class="title-container">
      <h1>MEMOTEST</h1>
      <h4>Inicia sesión para comenzar a jugar</h4>
    </div>


    @if (errorMessage) {
      <p style="text-align: center; color: red;">{{errorMessage}}</p>
    }

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating" style="font-family: 'Outfit';">Correo</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" style="font-family: 'Outfit';">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="login-button" [disabled]="loginForm.invalid">
        Iniciar Sesion
      </ion-button>
    </form>
    
    <div class="user-buttons">
      <ion-button *ngFor="let user of users" expand="block" type="button" (click)="autocompleCredentials(user.id-1)"  style="margin-top: 20px; " >
        {{user.perfil}}
      </ion-button>


    </div>

    

</div>
</ion-content>
